
body {
  background-color:lightsteelblue;
  font-family: 'Marcellus SC', serif;
}

h1,h2 {
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: center;
}

#down-message {
  font-size: 2em;
  text-align: center;
}

.roundImage {
  border-radius: 20px;
  border: 5px solid #333;
  padding: 14px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
}

ul.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li.navEl {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

div.footer{
  background-color: #333;
  left: 0;
  right: 0;
  bottom: 1;
  width: 100%;
  color: white;
  text-align: center;
  padding: 30px;
}

span {
  display: inline-block;
  padding-right: 20px;
  text-align: left;
}

div {
  padding: 30px;
}

span p {
  height: 400px;
  width: 400px;
  overflow: auto;
  border: 1px solid #666;
  background-color: #ccc;
  }